<h2>Bookmarks:</h2>
<table style="width:25%; float: left; margin-right: 25px;" border="1px solid black">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>URL</th>
    <th>DELETE</th>
    <th>UPDATE</th>
  </tr>
<% @bookmarks.each do |bookmark| %>
    <tr>
      <td><%= bookmark.id %></td>
      <td><a href="<%= bookmark.url %>"><%= bookmark.title.capitalize %></a></td>
      <td><%= bookmark.url %></td>
      <td>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type='submit' value="Delete">
        </form>
      </td>
      <td>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type="hidden" type="hidden" name="_method" value="PUT">
          <label>Update Title</label>
            <input type='text' name='update_title' value='<%= bookmark.title %>'>
          <br><br>
          <label>Update URL</label>
            <input type='text' name='update_url' value='<%= bookmark.url %>'>
            <br><br>
          <input type='submit' value="Update">
        </form>
      </td>
    </tr>
<% end %>
</table>

<h3>Add Bookmark</h3>

<form action="/bookmarks/new" method="post">
  <input type='text' value ='Enter title here' id='title' name='title'>
  <input type='text' value='Enter URL here' id='url' name='url'>
  <input type='submit' value='Add Bookmark'>
</form>