<h2>Bookmarks:</h2>
<table style="width:25%; float: left; margin-right: 25px;" border="1px solid black">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>URL</th>
    <th>DELETE</th>
    <th>UPDATE</th>
    <th>NEW COMMENT</th>
    <th>NEW TAG</th>
  </tr>
<% @bookmarks.each do |bookmark| %>
    <tr>
      <td><%= bookmark.id %></td>
      <td><a href="<%= bookmark.url %>"><%= bookmark.title.capitalize %></a></td>
      <td><%= bookmark.url %></td>
      <td>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type='submit' value="Delete">
        </form>
      </td>
      <td>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type="hidden" type="hidden" name="_method" value="PATCH">
          <label>Update Title</label>
            <input type='text' name='update_title' value='<%= bookmark.title %>'>
          <br><br>
          <label>Update URL</label>
            <input type='text' name='update_url' value='<%= bookmark.url %>'>
            <br><br>
          <input type='submit' value="Update">
        </form>
      </td>
      <td>
        <% bookmark.comments.each do |comment| %>
          <ul style="font-size: 14px;">
              <%= comment.text %>
          </ul>
        <% end %>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="post">
            <label for="comment_text"></label>
            <input type="text" id="comment_text" name="comment_text">
            <input type='submit' value='Add comment'>
        </form>
      </td>
      <td>
        <form action="/bookmarks/<%= bookmark.id %>/tag/new" method="post">
          <label for="comment_text"></label>
          <input type="text" id="tag_text" name="tag_text">
          <input type='submit' value='Add tag'>
        </form>
      </td>
    </tr>
<% end %>
</table>

<h3>Add Bookmark</h3>

<form action="/bookmarks/new" method="post">
  <input type='text' value ='Enter title here' id='title' name='title'>
  <input type='text' value='Enter URL here' id='url' name='url'>
  <input type='submit' value='Add Bookmark'>
</form>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>